h1{
	text-align: center;
}
section{
	float: left;
}
body{
	margin: 0px;
}
#p1{
  font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
  font-size: 12px; /* points (pt) are used in print, not screen.*/
  text-align: left;
   padding: 3px;
  clear: both;
}
#p2{
	background-color: #DEB887;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	border: 1px solid black;
	width: 70px;
	text-align: center;
	margin: 0px;
}
#p3{
	background-color: #5F9EA0;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	border: 1px solid black;
	width: 70px;
	text-align: center;
	margin: 0px;
}
#p4{
	background-color: #FF7F50;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	border: 1px solid black;
	width: 70px;
	text-align: center;
	margin: 0px;
}

		/************ large device only *************/
@media(min-width: 1200px){
#box {
	width: 32.6%;
  background-color: green;
  border: 1px solid black;
  margin: 3px;
}
#box1 {
	width: 32.6%;
  background-color: green;
  border: 1px solid black;
  margin: 3px;
  
}

}
		/************ meduim device only *************/
@media (min-width: 992px) and (max-width: 1199px){
#box {
	  
  background-color: red;
  border: 1px solid black;
  width: 49%;
   margin: 4px
}
#box1 {

  background-color: red;
  border: 1px solid black;
  width: 99%;
  margin: 4px;

   
}
}
		/************ smal device only *************/
@media (max-width: 991px){
#box {
  background-color: red;
  border: 1px solid black;
  width: 100%;
  margin: 4px;
   
}
#box1 {
  background-color: blue;
  border: 1px solid black;
  width: 100%;
  margin: 4px;
   
}
}